body, html {
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(251,251,246,1) 0%, rgba(228,228,219,1) 100%);
}

h1 {
    text-align: center;
    padding-top: 40px;
    font-family: 'Dancing Script', cursive;    
    margin: 0;
}

.fecha {
    font-family: 'Dancing Script', cursive;
}

a {
    text-decoration: none;
    color: inherit;
}

.percha-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: #d3bcb3;
}

.tiempo {
    text-align: center;
    margin: 0;
    font-family: 'Dancing Script', cursive;
}

@media only screen and (min-width: 1px) {

    h1 {
        font-size: 3rem;
    }

    .mi-casa {
        padding-top: 10px;
        font-size: 2rem;
    }

    .fecha {
        font-size: 1rem;
    }

    .cuadro-uno {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 95%;
        height: 150px;
        padding: 20px;
        max-height: fit-content;
        padding: 10px;
        background-color: #fff;
    }

    .cuadro-uno span {
        font-size: 1rem;
        text-align: center;
    }

    .cuadro-dos {
        width: 70%;
        height: 150px;
        margin: 40px auto;
        padding-top: 15px;
        background-color: #fff;
        border: 1px solid #6d6d6d;
        border-radius: 5px;
        box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.3);
    }

    .cuadro-imagen {
        width: 70%;
        height: 300px;
        margin: 40px auto;
        padding-top: 15px;
        background-color: #fff;
    }

    .ubicacion {
        align-self: center;
    }

    .corazon {
        margin-top: 20px;
        text-align: center;
    }

    .cuadro-cuatro {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 70%;
        height: 270px;
        margin: 40px auto;
        padding-top: 15px;
        background-color: #fff;
        border: 1px solid #6d6d6d;
        border-radius: 5px;
        box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.3);
    }

    .cuadro-cinco {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 70%;
        height: 300px;
        margin: 40px auto;
        padding-top: 15px;
        background-color: #fff;
        border: 1px solid #6d6d6d;
        border-radius: 5px;
        box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.3);
    }

    .cuadro-seis {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 70%;
        height: 170px;
        margin: 40px auto;
        padding-top: 15px;
        background-color: #fff;
        border: 1px solid #6d6d6d;
        border-radius: 5px;
        box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.3);
    }

    .cuadro-siete {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 70%;
        height: 220px;
        margin: 40px auto;
        padding-top: 15px;
        background-color: #fff;
        border: 1px solid #6d6d6d;
        border-radius: 5px;
        box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.3);
    }

    .cuadro-ocho {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cuadro-ocho span {
        text-align: center;
        width: 70%;
    }

    .cuadro-siete span {
        width: 80%;
        margin: 0 auto;
    }

    .cuadro-cinco span {
        text-align: center;
        padding: 5px 10px;
    }

    .cuadro-cuatro p {
        margin: 0;
        padding: 5px;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Dancing Script', cursive;
        font-size: 1.2rem;
        margin-top: 20px;
        width: 50%;
        height: 40px;
        border-radius: 5px;
        border: 1px solid #6d6d6d;
        background-color: #d3bcb3;
        cursor: pointer;
    }

    .ita-final {
        font-family: 'Dancing Script', cursive;
        font-size: 4rem;
        margin: 10px auto;
    }

    .espero {
        font-family: 'Dancing Script', cursive;
        font-size: 1.4rem;
    }

    .confirmar {
        font-family: 'Dancing Script', cursive;
        font-size: 1.5rem;
    }

    .tiempo-numeros, .tiempo-letras {
        text-align: center;
        margin: 0;
        padding: 10px 0;
    }

    .tiempo-numeros {
        font-size: 2rem;
    }

    .tiempo-letras {
        display: flex;
        justify-content: space-evenly;
    }

    .cuadro-cuatro .malla {
        margin-top: 10px;
        padding: 20px;
    }

    .musica {
        margin-bottom: 30px;
    }

    #cuadro-cuatro {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 170px;
    }

    footer {
        height: 30px;
        background-color: #1e1e1e;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

@media only screen and (min-width: 1300px) {
    
    h1 {
        font-size: 3rem;
    }
}

.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.mi-dia {
    text-align: center;
    margin: 0;
    font-weight: 600;
}
